@font-face {
    font-family: "UbuntuMono-B";
    src: url("./UbuntuMono-B.ttf");
    /* font-weight:600; */
    font-style:normal;
}

.hello{
    color:red;
    font-family: "UbuntuMono-B";
    background:url("./image1.png");
}